@import 'tailwindcss';

body {
  margin: 0;
  background: #020617;
  -webkit-app-region: drag;
}

button,
input,
select,
a {
  -webkit-app-region: no-drag;
}

input[type='range'] {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #6366f1;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background: #334155;
}
